{% extends 'base.html.twig' %}

{% block title %}
	Article
{% endblock %}

{% block body %}
	<div
		class="content">
		<!-- affiche un article -->
		<div class="container">
			<div
				class="row">
				<!-- affiche l'image de l'article si il y en a une -->
				{% if article.image %}
					<div class="col-md-4">
						<img src="Assets/uploads/{{ article.image }}" alt="{{ article.title }}" class="img-fluid">
					</div>
				{% endif %}
				<div class="col-md-8 text-center mx-auto ">
					<h1 class="py-3 bolder">{{ article.title }}</h1>
					<p class="text-muted">Ecrit par
						{{ author }}</p>
					<p>{{ article.update_at|date('d/m/Y') }}</p>
					<h3>{{ article.category }}</h3>
				</div>
			</div>
			<div id="content">
				<div class="text-center py-5 ">{{ article.content }}</div>
			</div>

			<!-- affiche les commentaires de l'article -->
			<div class="row">
				{% if comments is defined %}
					<div class="col-md-8 mx-auto">
						<h2>Commentaires</h2>
						{% for comment in comments %}
							{% if comment.isPublished == 1 or session.role == 'admin' %}
								<div class="card my-3">
									<div class="card-header">
										<h3>{{ comment.username }}</h3>
										<p>{{ comment.update_at|date('d/m/Y') }}</p>
									</div>
									<div class="card-body">
										<p>{{ comment.content }}</p>
									</div>
								</div>
								{% if session.role == 'admin' %}
									{% if comment.isPublished == 0 %}
										<a href="/publishComment?id={{ comment.id }}" class="btn btn-outline-primary">Publier</a>
									{% endif %}

									<a href="/supprimercomment?id={{ comment.id }}" class="btn btn-outline-danger">Supprimer</a>
								{% endif %}

							{% endif %}

						{% endfor %}
					</div>
				{% else %}
					<p>Il n'y a pas encore de commentaire pour cet article</p>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="waveCom" style="overflow: hidden;">
		<svg preserveaspectratio="none" viewbox="0 0 1200 120" xmlns="http://www.w3.org/2000/svg" style="fill: #003329; width: 100%; height: 60px; transform: rotate(180deg);">
			<path d="M321.39 56.44c58-10.79 114.16-30.13 172-41.86 82.39-16.72 168.19-17.73 250.45-.39C823.78 31 906.67 72 985.66 92.83c70.05 18.48 146.53 26.09 214.34 3V0H0v27.35a600.21 600.21 0 00321.39 29.09z"/>
		</svg>
	</div>
	<section
		class="addCom row">
		<!-- formulaire pour ajouter un commentaire -->
		{% if session.user_id is not empty %}
			<form class="container" method="post" action="/comment?id={{article.id}}">
				<div class="invisible">
					<label for="author">Auteur</label>
					<input type="text" id="author" name="author_id" class="form-control" value="{{ session.user_id }}"></input>
			</div>
			<div>
				<label for="content">Commentaire</label>
				<textarea id="content" name="content" class="form-control"></textarea>
			</div>
			<button type="submit" class="btn btn-primary">Ajouter un commentaire</button>
		</form>
	{% else %}
		<div>
			<p>Vous devez être connecté pour ajouter un commentaire</p>
		</div>

	{% endif %}
</section></div>{% endblock %}{% block javascripts %}{% endblock %}
